* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    text-align: center;
    margin: auto 20px;
}

a {
    display: block;
    width: 25%;
    float: left;
    text-align: center;
    text-decoration: none;
    padding: 50px 30px;
    font-size: 30px;
}

.navRed {
    color: red;
}

.navGreen {
    color: darkgreen;
}

.navYellow {
    color: yellowgreen;
}

.navBlack {
    color: black;
}

article {
    width: 100%;
    display: inline-block;
}

#aboutUs {
    background-color: skyblue;

}


h1 {
    font-size: 40px;
    padding: 55px;
    border: 100px;
}

p {
    font-size: 25px;
    text-align: justify
}

div#block {
    display: block;
    float: left;
    width: 60px;
    height: 60px;
    margin: 10px;
}

.bgRed {
    background-color: red;
}

.bgGreen {
    background-color: darkgreen;
}

.bgYellow {
    background-color: yellowgreen;
}

.bgBlack {
    background-color: black;
}

div#inline {
    background-color: chocolate;
    width: 60px;
    height: 60px;
    margin: 10px;
    border: 3mm separate yellow;
}
