* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    text-align: center;
    margin: auto 20px;
}

nav a {
    display: block;
    width: 25%;
    float: left;
    text-align: center;
    text-decoration: none;
    padding: 50px 30px;
    font-size: 30px;
}

.red {
    color: red;
}

.green {
    color: darkgreen;
}

.yellow {
    color: yellowgreen;
}

.black {
    color: black;
}

article#aboutUs {
    background-color: blue;
    display: flex;
}

h1 {
    font-size: 40px;
    padding: 55px;
}

p {
    font-size: 25px;
    text-align: justify
}
